pytest  # python testing
pytest-cov  # test coverage check

sphinx  # documentation generator
snooty-lextudio  # rst server
rstcheck  # rst linter

autopep8  # autoformat
pylint  # python linter
pylama  # python linter group

build  # create packages
twine  # check packages

-e .
-r ./git_subm_demo/requirements.txt
